#ignore the node_modules folder
#folder contains all packages app uses
node_modules

#ignore package-lock.json
#file locks versions of packages installed
package-lock.json

#ignore macOS-specific hidden files
#.DS_Store is automatically created by macOS in every folder to store view settings
#not needed for coding projects
.DS_Store
